*/*venv/
*/*/*venv/
art-drawing/Toon-Me/*.pkl
__pycache__/
computer-vision/dataset/*
.DS_STORE

test.*
computer-vision/face-detection-without-names/analysis.log
computer-vision/face-detection-without-names/deepface